function Utils.printPhrase 0
push argument 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 5000
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 0
return
function Utils.printSpacer 0
call Output.println 0
pop temp 0
push constant 35
call String.new 1
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
